{% extends "base.html" %}

{% load static %}

{% block title %} | Category {% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-2">
            <div class="col-9">
                <div class="row mt-2">
                    <div class="col-12">
                        <h1 class="h5" style="border-left: 5px solid #2f3640">&nbsp;All Projects</h1>
                    </div>
                </div>
                <div class="row g-2">
                    {% if product %}
                    {% for p in product %}
                        <div class="col-4">
                        <div class="card mb-1">
                            <img src="{{p.image.url}}" class="card-img-top" style="object-fit: cover;height: 250px" alt="">
                            <div class="card-body">
                                <h5>{{p.name}}</h5>
                                <small class="text-muted">{{p.category}}</small>
                                <p class="small">
                                    {{p.description}}
                                </p>
                                <a href="{% url 'viewCard' p.pro_id %}" class="btn btn-success">Know More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="card">
                        <div class="card-body">
                            <h5>No Record Available Yet</h5>
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>
            <div class="col-3 mt-4">
                <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action active">Category</a>
                    {% for x in category %}
                        <a href="{% url 'category' x.cat_id %}" class="list-group-item list-group-item-action">{{x.cat_title}}</a>
                           {% if filters %}
                            <div class="list-group">
                                {% for f in x.filter_set.all %}
                                    <a href="{% url 'category' x.cat_id f.id %}" class=" list-group-item list-group-item-action"> &raquo; {{ f.filter_title }}</a>
                                {% endfor %}
                            </div>
                           {% endif %}

                    {% endfor %}
                </div>



            </div>
        </div>
    </div>
{% endblock %}
