{% extends "base.html" %}

{% load static %}

{% block title %} | Homepage {% endblock %}

{% block content %} 
    <div class="container-fluid bg-primary">
        <div class="container mb-0">
            <div class="row">
                <div class="col-7 mt-5 pt-5">
                    <h1 class="display-4">Hamid Abbas</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at delectus dignissimos explicabo harum impedit ipsa iure magnam, molestias nam nisi odio quaerat temporibus totam voluptatibus? Est incidunt quaerat repudiandae?</p>
                    <a href="{% url 'category' %}" class="btn btn-success text-uppercase btn-lg shadow py-3 px-5">Get Started</a>
                </div>
                <div class="col-5">
<!--                    image area -->
                    <img src="{% static 'person.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
